# Node
node_modules/

# Frontend builds
frontend/build/
frontend/dist/

# Backend builds
backend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
backend/.env
frontend/.env

# Editor
.vscode/
.idea/
.DS_Store

